@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=DM+Sans:wght@300;400;500&display=swap');

:root {
  --cream: #FAF7F2;
  --charcoal: #1C1C1C;
  --gold: #C9A84C;
  --rust: #B85C38;
  --sage: #7A8C6E;
}

body {
  background-color: var(--cream);
  font-family: 'DM Sans', sans-serif;
  color: var(--charcoal);
}